.section-1 {
  text-align: center;
  margin-top: 280px;
}
.section-1 .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.section-1 .title h2 {
  font-family: "Alegreya", serif;
  font-size: 48px;
  font-weight: 500;
  color: #434343;
  margin-top: 200px;
  margin-bottom: 80px;
}
.section-1 .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}
.section-1 .container .par1 {
  position: relative;
  background: #ffffff;
  width: 390px;
  height: 340px;
  right: 10%;
  -ms-flex-item-align: center;
      align-self: center;
}
.section-1 .container .par1 p {
  font-size: 24px;
  color: #434343;
  padding-top: 60px;
  padding-left: 40px;
  text-align: left;
}