* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.section-3 {
  margin-top: 220px;
}
.section-3 .slideshow-container {
  max-width: 800px;
  position: relative;
  margin: auto;
}
.section-3 .slideshow-container .mySlides {
  display: none;
}
.section-3 .slideshow-container .mySlides .text {
  color: #ffffff;
  font-size: 32px;
  font-weight: 600;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
  margin-bottom: 60px;
}
.section-3 .slideshow-container .mySlides .numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
.section-3 .slideshow-container .mySlides .fade {
  -webkit-animation-name: fade;
          animation-name: fade;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
}
@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
.section-3 .slideshow-container .prev, .section-3 .slideshow-container .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.section-3 .slideshow-container .next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.section-3 .slideshow-container .prev:hover,
.section-3 .slideshow-container .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
.section-3 .dots .dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #e2e2e2;
  border-radius: 50%;
  display: inline-block;
  -webkit-transition: background-color 0.6s ease;
  transition: background-color 0.6s ease;
}
.section-3 .dots .active,
.section-3 .dots .dot:hover {
  background-color: #646464;
}