.head {
  height: 90px;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.head .logo {
  padding-left: 90px;
  margin-top: 15px;
}
.head ul {
  margin: auto;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
}
.head ul li {
  display: table-cell;
  position: relative;
  padding: 15px 0;
}
.head ul li a {
  text-decoration: none;
  font-size: 20px;
  color: #444444;
  padding: 0 20px;
}
.head ul li a:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 3px;
  left: 50%;
  position: absolute;
  background: #187900;
  -webkit-transition: width 0.3s ease 0s, left 0.3s ease 0s;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.head ul li a:hover:after {
  width: 100%;
  left: 0;
}
.head .lang {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 70px;
}
.head .lang p {
  padding: 0 10px 0 10px;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #444444;
}
.head .lang select {
  margin-left: 10px;
}

.example {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  float: right;
  margin: 20px 60px;
}
.example button {
  width: 80px;
  padding: 14px;
  background: #187900;
  color: white;
  font-size: 17px;
  border: none;
}
.example button:hover {
  cursor: pointer;
  background: #105100;
}

.main-section {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  position: relative;
  margin-top: 20px;
}
.main-section .main-image {
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.main-section .main-image p, .main-section .main-image h1 {
  position: absolute;
  color: #ffffff;
}
.main-section .main-image p {
  font-size: 26px;
  width: 600px;
  padding-top: 120px;
}
.main-section .main-image h1 {
  font-family: "Alegreya", serif;
  font-size: 64px;
  font-weight: 500;
  padding-top: 180px;
  width: 580px;
}
.main-section .booking {
  display: grid;
  grid-template-columns: auto auto 1;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 900px;
  border-radius: 8px;
  background: #ffffff;
  position: absolute;
  top: 520px;
  padding: 40px 10px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  justify-items: center;
}
.main-section .booking form {
  display: grid;
  grid-template-columns: auto auto;
}
.main-section .booking .elem-group, .main-section .booking .elem-group inlined {
  padding: 0 20px;
  margin-bottom: 8px;
}
.main-section .booking select {
  padding: 0px 10px;
  margin-top: 25px;
  height: 44px;
  width: 330px;
  cursor: pointer;
  font-size: 16px;
}
.main-section .booking input {
  color: #187900;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  height: 44px;
  line-height: 40px;
  padding: 3px 10px 0 10px;
  width: 100%;
  margin-top: 4px;
  margin-bottom: 6px;
}
.main-section .booking input::-webkit-input-placeholder {
  color: rgb(150, 150, 150);
  opacity: 1;
  font-weight: 400;
}
.main-section .booking input::-moz-placeholder {
  color: rgb(150, 150, 150);
  opacity: 1;
  font-weight: 400;
}
.main-section .booking input:-ms-input-placeholder {
  color: rgb(150, 150, 150);
  opacity: 1;
  font-weight: 400;
}
.main-section .booking input::-ms-input-placeholder {
  color: rgb(150, 150, 150);
  opacity: 1;
  font-weight: 400;
}
.main-section .booking input::placeholder {
  color: rgb(150, 150, 150);
  opacity: 1;
  font-weight: 400;
}
.main-section .booking input:-ms-input-placeholder {
  color: rgb(150, 150, 150);
  opacity: 1;
  font-weight: 400;
}
.main-section .booking label {
  font-size: 16px;
  color: #707070;
}
.main-section .booking .send {
  grid-column-start: 1;
  grid-column-end: 3;
}
.main-section .booking .send .btn-submit {
  width: 240px;
  height: 46px;
  background: #ffffff;
  border: 2px solid #187900;
  border-radius: 5px;
  color: #434343;
  font-size: 16px;
  margin-top: 30px;
  cursor: pointer;
}
.main-section .booking .send .btn-submit:hover {
  background: #187900;
  color: #ffffff;
  border: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-box-shadow: 0px 4px 7px rgba(8, 95, 0, 0.36);
          box-shadow: 0px 4px 7px rgba(8, 95, 0, 0.36);
}

.section-1 {
  text-align: center;
  margin-top: 280px;
}
.section-1 .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.section-1 .title h2 {
  font-family: "Alegreya", serif;
  font-size: 48px;
  font-weight: 500;
  color: #434343;
  margin-top: 200px;
  margin-bottom: 80px;
}
.section-1 .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}
.section-1 .container .par1 {
  position: relative;
  background: #ffffff;
  width: 390px;
  height: 340px;
  right: 10%;
  -ms-flex-item-align: center;
      align-self: center;
}
.section-1 .container .par1 p {
  font-size: 24px;
  color: #434343;
  padding-top: 60px;
  padding-left: 40px;
  text-align: left;
}

.section-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-top: 240px;
}
.section-2 img {
  cursor: pointer;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}
.section-2 img:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  -webkit-box-shadow: 2px 2px 5px #252525;
          box-shadow: 2px 2px 5px #252525;
}
.section-2 .hide {
  display: none;
}
.section-2 h3 {
  font-family: "Alegreya", serif;
  font-size: 32px;
  font-weight: 500;
  color: #434343;
  width: 325px;
}
.section-2 .content {
  font-size: 18px;
  line-height: 150%;
  width: 400px;
  text-align: justify;
}
.section-2 .btn {
  width: 160px;
  padding: 10px 15px;
  background: transparent;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border: 1px solid #797979;
  cursor: pointer;
  float: right;
}
.section-2 .btn:hover {
  -webkit-transform: scale(1.2) translate(8px);
          transform: scale(1.2) translate(8px);
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.section-3 {
  margin-top: 220px;
}
.section-3 .slideshow-container {
  max-width: 800px;
  position: relative;
  margin: auto;
}
.section-3 .slideshow-container .mySlides {
  display: none;
}
.section-3 .slideshow-container .mySlides .text {
  color: #ffffff;
  font-size: 32px;
  font-weight: 600;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
  margin-bottom: 60px;
}
.section-3 .slideshow-container .mySlides .numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
.section-3 .slideshow-container .mySlides .fade {
  -webkit-animation-name: fade;
          animation-name: fade;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
}
@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
.section-3 .slideshow-container .prev, .section-3 .slideshow-container .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.section-3 .slideshow-container .next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.section-3 .slideshow-container .prev:hover,
.section-3 .slideshow-container .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
.section-3 .dots .dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #e2e2e2;
  border-radius: 50%;
  display: inline-block;
  -webkit-transition: background-color 0.6s ease;
  transition: background-color 0.6s ease;
}
.section-3 .dots .active,
.section-3 .dots .dot:hover {
  background-color: #646464;
}

.section-4 {
  text-align: center;
}
.section-4 .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.section-4 .title h2 {
  font-family: "Alegreya", serif;
  font-size: 48px;
  font-weight: 500;
  color: #434343;
  margin-top: 200px;
  margin-bottom: 80px;
}
.section-4 .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}
.section-4 .container .par1 {
  position: relative;
  background: #ffffff;
  width: 390px;
  height: 340px;
  right: 10%;
  -ms-flex-item-align: center;
      align-self: center;
}
.section-4 .container .par1 p {
  font-size: 24px;
  color: #434343;
  padding-top: 60px;
  padding-left: 40px;
  text-align: left;
}

.section-5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-top: 240px;
}
.section-5 img {
  cursor: pointer;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}
.section-5 img:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  -webkit-box-shadow: 2px 2px 5px #252525;
          box-shadow: 2px 2px 5px #252525;
}
.section-5 .hide {
  display: none;
}
.section-5 h3 {
  font-family: "Alegreya", serif;
  font-size: 32px;
  font-weight: 500;
  color: #434343;
  width: 325px;
}
.section-5 .content {
  font-size: 18px;
  line-height: 150%;
  width: 400px;
  text-align: justify;
}
.section-5 .btn {
  width: 160px;
  padding: 10px 15px;
  background: transparent;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border: 1px solid #797979;
  cursor: pointer;
  float: right;
}
.section-5 .btn:hover {
  -webkit-transform: scale(1.2) translate(8px);
          transform: scale(1.2) translate(8px);
}

.section-6 {
  margin-top: 180px;
  text-align: center;
}
.section-6 h2 {
  font-family: "Alegreya", serif;
  font-size: 48px;
  font-weight: 500;
  color: #434343;
  margin-bottom: 60px;
}
.section-6 .icons {
  height: 410px;
  background-color: #F9F9F9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.section-6 .icons .icon {
  width: 210px;
  height: 175px;
}
.section-6 .icons .icon h3 {
  font-weight: normal;
  font-size: 24px;
}

footer {
  height: 830px;
  background-image: url(../img/footer_img.svg);
  background-repeat: no-repeat;
}
footer .footer_container {
  padding-top: 120px;
  text-align: center;
}
footer .footer_container h2 {
  font-family: "Alegreya", serif;
  font-size: 48px;
  font-weight: 500;
  color: #ffffff;
  margin: 0;
}
footer .footer_container p {
  font-size: 24px;
  color: #ffffff;
  padding-top: 30px;
}
footer .footer_container button {
  background-color: #187900;
  font-size: 20px;
  color: #ffffff;
  padding: 10px 50px;
  margin-top: 70px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
footer .footer_container button:hover {
  -webkit-transform: scale(1.2) translate(5px);
          transform: scale(1.2) translate(5px);
}
footer .contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-top: 2px solid #4D4D4D;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 160px;
}
footer .contacts .logo {
  margin-top: 30px;
}
footer .contacts small {
  color: #ffffff;
  margin-top: 90px;
}
footer .contacts .social {
  margin-top: 30px;
}
footer .contacts .social img {
  cursor: pointer;
  padding: 0 10px;
}
footer .contacts .social img:hover {
  -webkit-transform: scale(1.2) translate(2px);
          transform: scale(1.2) translate(2px);
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  color: #444444;
  margin: auto;
  width: 1440px;
}