footer {    
    height: 830px;
    background-image: url(../img/footer_img.svg);
    background-repeat: no-repeat;
    
    // #overlay {
    //     display: none;
    //     position: fixed;
    //     top: 0;
    //     left: 0;
    //     width: 100%;
    //     height: 100%;
    //     background-color: rgba(0, 0, 0, 0.8);
    // }
    
    // #popup {
    //     display: none;
    //     position: fixed;
    //     top: 50%;
    //     left: 50%;
    //     transform: translate(-50%, -50%);
    //     width: 50vw;
    //     height: 90vh;
    //     background-color: white;
    //     z-index: 1;
    // }
    
    // #popup-iframe {
    //     width: 100%;
    //     height: 100%;
    // }

    .footer_container {  
        // margin-top: 160px; 
        padding-top: 120px;         
        text-align: center;       

        h2 {
            font-family: 'Alegreya', serif;
            font-size: 48px;
            font-weight: 500;                    
            margin: 0;      
        }

        p {
            font-size: 24px;                    
            padding-top: 30px;
        }

        button {       
            background-color: #187900;
            font-size: 20px;            
            padding: 10px 50px;
            margin-top: 70px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: .5s;
        
            &:hover {            
                transform: scale(1.2) translate(5px);
            }
        }
    }

    .contacts {
        display: flex;
        border-top: 2px solid #4D4D4D;        
        margin-top: 140px;
        color: #ffffff;
        
        .logo {
            margin-top: 30px;
        }

        .social {
            margin-top: 30px;
                
            p {
                font-size: 20px; 
                color: #ffffff;               
            }
            
            img {
                cursor: pointer;
                padding: 0 10px;
            
                &:hover {
                transform: scale(1.2) translate(2px);
                }
            }                
        }

        // .address {
        //     a {
        //        text-decoration: none;
        //     }
        // }
        // }       

        small {            
            display: flex;
            justify-content: center;
            margin-top: 90px;
        }            
    }
}