@import 'mixin';

.section-1 {
    text-align: center; 
    margin-top: 280px;

    .title {
        @include display;

        h2 {
            @include title;
        }
    }
    
    .container {
        @include display; 
        position: relative;                   
                
        .par1 {
            @include paragraph;

            p {
                @include paragraphText;
            }
        }
    }
}
