@import 'mixin';

.section-2 {
    @include displayImg;

    img {
        cursor: pointer;
        transition: all 1s ease;
        
        &:hover {
            transform: scale(1.5);
            box-shadow: 2px 2px 5px #252525;
        }
    }

    .hide {
        display: none;
    }
        
    h3 {
        @include titleImg;
    }
        
    .content {
        @include content;            
    }
        
    .btn {
        @include button;
        
        &:hover {
            transform: scale(1.2) translate(8px);
                    
        }
    }
}    
